.home{
    text-transform: capitalize;
    white-space: pre;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%,50%);
}
.buttons{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.button{
    background-color: darkblue;
    color: white;
    border: 0;
    box-shadow: 0 0 8px 3px #666666;
}
.buttons .button{
    width: 40%;
    font-size: large;
    height: 100%;
}
.button:hover{
    background-color: rgb(0, 0, 110);
    cursor: pointer;
}